body {
  background-color: #f5f5f5;
}

#masuk {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container-input {
  margin-top: 24px;
  background-color: white;
  border-radius: 10px;
}

.img-login {
  width: 500px;
  height: 500px;
  margin-top: 60px;
}

.btn-buat {
  background-color: green;
  border: 0;
}

.btn-masuk {
  background-color: green;
  width: 100%;
  border: 0;
}

.btn-google {
  width: 100%;
  border: 0;
}

@media (max-width: 425px) {
  .img-login {
    width: 100%;
  }
}
