* {
  padding: 0;
  margin: 0;
}

.jumbotron-img {
  width: 350px;
}

.pengertian-img {
  width: 350px;
}

.tips-img {
  width: 200px;
}

#cta .container {
  background-color: #7d7d7d;
  height: 100px;
}

#cta h3 {
  line-height: 100px;
}
